mat-sidenav {
    background: #f3e5d3;
    width: 230px;
    height: 100%;
}
mat-sidenav-content {
    height: 100vh;
}
mat-sidenav-content .main {
    margin-left: 30px;
    margin-left: 30px;
}
mat-toolbar {
    background-color: #d8843b;
    justify-content: space-between;
}
mat-toolbar mat-icon {
    margin-left: 15px;
    color: #ffffff;
}
mat-toolbar.box {
    margin-top: 15px;
}
span .imagen{
    margin-top: 10;
    align-items: center;
}
img {
    width: 60x;
    height: 60px;
    overflow: hidden;
    margin-top: -6px;
    margin-right: 1000px;
    align-items: left;
}


